<div
  class="tab-pane fade text-white"
  id="nav-all-time-scoreboard"
  role="tabpanel"
  aria-labelledby="nav-all-time-scoreboard-tab"
>
  <div id="all-time-scoreboard" class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Displayed Badges</th>
          <th scope="col">Total Score</th>
          <th scope="col">Year</th>
        </tr>
      </thead>
      <tbody>
        <% if (locals.allTimeResults) { %>
          <% for(let i = 0; i < locals.allTimeResults.length; i++) { %>
            <tr>
              <!-- RANK -->
              <th scope="row"><%= i + 1 %></th>
              <!-- DISPLAY NAME -->
              <td><%= locals.allTimeResults[i].display_name %></td>
              <!-- ACHIEVEMENTS/BADGES -->
              <td>
                <% if (locals.seasonalResults[i].achievements) { %>
                  <% locals.seasonalResults[i].achievements.forEach((achievement) => { %>
                      <span class="material-symbols-outlined align-bottom"><%= achievement %></span>
                  <% }); %>
              <% } else { %> 
                  <p>No badges earned.</p>
              <% } %> 
              </td>         
              <!-- TOTAL SCORE -->   
              <td><%= locals.allTimeResults[i].points %></td>
              <!-- YEAR -->
              <td><%= (new Date(locals.allTimeResults[i].created_at)).getFullYear() %></td>
            </tr>
          <% } %>
        <% } else { %>
          <tr>
            <td colspan="5">No results found.</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
