<div class="card container p-3" id="profile-card">
  <!-- Row 1: Display Name -->
  <div class="row">
    <h5>
      <span class="material-symbols-outlined align-bottom px-2">person</span>
      <span id="display-name"><%= displayName %></span>
    </h5>
  </div>
  <!-- Row 2: Change Display Name -->
  <div class="row">
    <form name="change-display-name-form" class="mb-3" method="POST">
      <input type="hidden" name="__action" value="change-display-name" />
      <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>" />
      <input type="hidden" name="userId" value="<%= userId %>" />
      <input type="text" name="newDisplayName" />
      <button
        type="submit"
        class="btn btn-outline-light btn-sm px-2"
        id="change-display-name-button"
      >
        Change Name
      </button>
    </form>
  </div>
  <!-- Row 3: Achievements -->
  <h3 class="mt-4">Achievements</h3>
  <!-- Achieved -->
  <div class="row py-2 mt-3" id="badge-display">
    <div class="col my-auto">
      <h5>Achieved</h5>
    <% if (locals.seasonalResults) { %>
      <% var foundFlag = false; %>
      <% for(let i = 0; i < locals.seasonalResults.length; i++) { %>
          <!-- ACHIEVEMENTS/BADGES -->
            <% if (locals.seasonalResults[i].achievements && locals.seasonalResults[i].user_id == locals.userId) { %>
                <% locals.seasonalResults[i].achievements.forEach((achievement) => { %>
                    <span class="material-symbols-outlined align-bottom pr-2"><%= achievement %></span>
                <% }); %>
                <% foundFlag = true; %>
            <% } %>
          <% } %>
          <% if (!foundFlag){%>
            <p>No achievements earned</p>
          <% } %>
    <% } else { %>
      <p>No results found.</p>
    <% } %>
    </div>
  </div>
  <!-- Available -->
  <div class="row py-2 mt-3" id="badge-display">
    <div class="col my-auto"><%- include('achievementList.ejs'); %></div>
  </div>
</div>

<script>
  const userId = '<%= userId %>';
  const urlPrefix = '<%= urlPrefix %>';

  // Grab the value inputted into the text field
  const changeDisplayNameForm = document.forms['change-display-name-form'];
  const newDisplayName = changeDisplayNameForm.querySelector('input');
</script>
