<div class="card container p-3" id="profile-card">
  <!-- Row 1: Display Name -->
  <div class="row">
    <h5>
      <span class="material-symbols-outlined align-bottom px-2">person</span>
      <span id="display-name"><%= displayName %></span>
    </h5>
  </div>
  <!-- Row 2: Change Display Name -->
  <div class="row">
    <form name="display-name-form" class="form mb-4" method="POST">
      <input type="hidden" name="__action" value="changeDisplayName" />
      <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>" />
      <input type="text" id="display-name-input" />
      <button type="submit" class="btn btn-outline-light btn-sm px-2" id="change-display-name-button">
        Change Display Name
      </button>
    </form>
    
  </div>
  <!-- Row 2: Achieved Badges -->
  <div class="row py-2" id="badge-display">
    <div class="col my-auto">
      <h5>Achieved Achievements</h5>
      <span class="material-symbols-outlined align-bottom px-2"> elderly </span>
      <span class="material-symbols-outlined align-bottom px-2"> rocket_launch </span>
      <span class="material-symbols-outlined align-bottom px-2"> school </span>
    </div>
  </div>
  <!-- Row 3: Achievements -->
  <div class="row py-2 mt-3" id="badge-display">
    <div class="col my-auto"><%- include('achievementList.ejs'); %></div>
  </div>

  <script>
    const userId = '<%= userId %>';
    const urlPrefix = '<%= urlPrefix %>';

    // Function to update the display name
    function updateDisplayName(event) {
      event.preventDefault(); // prevent form from submitting normally
      const newDisplayName = document.querySelector('#display-name-input').value;

      // Create FormData to append CSRF token
      let formData = new FormData();
      let csrfToken = '<%= __csrf_token %>';
      console.log("URL Prefix: " + urlPrefix);
      console.log("User ID: " + userId);
      console.log("New Display Name: " + newDisplayName);
      fetch(urlPrefix + '/plrStudent/' + userId + '/update_display_name', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `new_display_name=${encodeURIComponent(
          newDisplayName,
        )}&__csrf_token=${encodeURIComponent(csrfToken)}`,
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.json(); // This returns a promise
        })
        .then((jsonResponse) => {
          // Update the display name in the page
          document.querySelector('#display-name').textContent = newDisplayName;
        })
        .catch((error) => {
          console.error('Error updating display name:', error);
          console.error('Error name:', error.name);
          console.error('Error stack:', error.stack);
        });
    }

    // Add a click event listener to the "Change Display Name" button
    document
      .querySelector('#change-display-name-button')
      .addEventListener('click', updateDisplayName);
  </script>
</div>
